<div class="group-container">
    <button (click)="addNewFieldGroup()" class="btn">Create New Group</button>
    <div cdkDropList (cdkDropListDropped)="drop($event)" class="group-list">
        <div *ngFor="let group of fieldGroups; let i = index" cdkDrag class="group-item"
            [ngClass]="{'selectedGroup':group.selected}">
            <mat-icon cdkDragHandle class="drag-handle">drag_indicator</mat-icon>
            <p class="ellipsis" (click)="selectedFieldGroup(group)">
                {{ group?.groupName }}
            </p>
            <mat-icon class="delete-icon" (click)="openDeleteDialog(group,group.id)">delete</mat-icon>
        </div>
    </div>
</div>